.weekly-tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tasks-list {
        margin-top: 1rem;
        max-height: 6rem;
        overflow-y: scroll;
        scroll-behavior: smooth;

        .task-item {
            cursor: pointer;
            transition: 100ms;
        }
          
        .task-item:hover {
            opacity: 0.5;
        }
        
        .task-item.completed {
            opacity: 0.5;
            text-decoration: line-through;
            text-decoration-thickness: 2px;
        }
    }

    .form-container {
        display: flex;
        border-top: solid 2px #654e8042;
        margin-top: 1rem;
        flex-direction: column;
    }
}